body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}
footer{
    background: black;
    text-align: center;
    float: left;
    margin-top: 10px;
    width: 100%;
    height: 120px;
}
footer p{
    font-family: 'Comic Sans MS';
    color: yellow;
    font-size: 20px;
    padding: 20px 20px 1px;
	width: fit-content;
}
.margen-10 {
	margin: 10px;
}
#contenedor {
	min-height:100%;
	height: auto!important;
	/*height:100%;*/
	margin-bottom: 30px;
}