<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplic SpringBoot</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <!-- script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
-->
    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class=" user-img row">
                 	<!-- span th:text="${session.nRoles}" class="Italica text-info"></span> 
                    <span class="fa-stack fa-4x" th:data-count="${session.nUsus}">
					    <br><i class="fa fa-user fa-stack-2x xfa-inverse"></i>
				  	</span>-->
				  	<span class="col-sm-3">
					    <!-- &nbsp;------- -->
				  	</span>
                    <img src="static/img/user.png" th:src="@{/img/user.png}" class="col-sm-5"/>
                    
                    <span class="col-sm-3 top-50">
					  	<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" 
						  	class="" xmlns="http://www.w3.org/2000/svg">
							<path d="M16,17.85V20a1,1,0,0,1-1,1H1a1,1,0,0,1-1-1V17.85a4,4,0,0,1,2.55-3.73l2.95-1.2V11.71l-0.73-1.3A6,
							6,0,0,1,4,7.47V6a4,4,0,0,1,4.39-4A4.12,4.12,0,0,1,12,6.21V7.47a6,6,0,0,1-.77,2.94l-0.73,1.3v1.21l2.95,
							1.2A4,4,0,0,1,16,17.85Zm4.75-3.65L19,13.53v-1a6,6,0,0,0,1-3.31V9a3,3,0,0,0-6,0V9.18a6,6,0,0,0,.61,
							2.58A3.61,3.61,0,0,0,16,13a3.62,3.62,0,0,1,2,3.24V21h4a1,1,0,0,0,1-1V17.47A3.5,3.5,0,0,0,20.75,14.2Z"
							 class="active-item" style="fill-opacity: 0.5" stroke="#555555" fill="blue">
							</path>
						</svg>
						<span class="fa-stack fa-2x " th:data-count="${session.nUsus}"></span>
                    <!-- span th:text="${session.nUsus}" class="Italica text-info col-sm-3 small"></span>-->
                </div>
                <!-- asegurarse que el action va al metodo de logueo="/login" y no es"get" -->
                <form class="col-12" th:action="@{/login}" method="post">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="nomUsuario"/>
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contraseña" name="parol"/>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Ingresar </button>
                </form>
                <div class="col-12 forgot">
                    <a href="/olvideContrasenya" th:text="${session.textoRecuerdo}"></a><br>
                    <!-- span th:text="${session.textoRecuerdo}"></span><br> -->
                    <a href="/registro" class="Italica text-info">Registrar usuario</a>
                </div>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Usuario y contraseña Invalidos.
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            Estas fuera.
		        </div>
				
            </div>
        </div>
    </div>
    <footer>
		<img th:src="@{/img/tux_calculador.png}" height=50 class=" float-right margen-10"/>
		 <!-- src="static/img/tux_calculador.png" /> -->
		<a href="http://formacioscb.x10host.com/" class="font-weight-bold">
		<p class="text-center ">Por: formacio-scb</p></a>
	</footer>
</body>
</html>