<!-- para poder utilizar las expresiones de seguridad tales como:
	***#authorization.expression('hasRole(''ROLE_USER'')')**
	hay que agregar la dependencia de seguridad de thymeleaf al pom
	**en este caso no se llama: ROLE_USER, sino ROLE_USUARIO  -->

	<!-- debe ser metodo post, el action sea userForm y el boton de guardar los cambios tipo submit -->
	<!-- este va bien para las 1as fases
	<form class="form" role="form" autocomplete="off" th:object="${usuarioForm}" th:action="@{/usuarioForm}" method="post"
	<form id="usuarioForm" th:object="${usuarioForm}" method="post" class="form" role="form" th:action="@{editMode} ?@{/editUsuario} :@{/usuarioForm}">-->
	
	<!-- Creamos div q encapsule el form con el atributo th:with para crear variable en 
		thymeleaf llamada disableFields y se agrega a cada campo con th:disabled. -->
	<div th:with="disableFields=!${signup} and (!${editMode} and ${#authorization.expression('hasRole(''ROLE_USUARIO'')')})">
	
		<form class="form" role="form" autocomplete="off" th:object="${usuarioForm}" th:action="${signup}?@{/registro}:(${editMode} ?@{/editUsuario} :@{/usuarioForm})" method="post">
			<!--Es necesario para poder pasar la validacion del Model-->
			<input class="form-control" type=hidden th:field="${usuarioForm.id}" value="default" th:if="${editMode}">
			<!-- si este campo se pone con th:field=${usuarioForm.contrasenya} no va bien, asi q-->
			<input class="form-control" type=hidden name="contrasenya" value="xxxxxx" th:if="${editMode}">
		<!-- quita el comentario si quieres mantener la validacion @NotBlank del campo confirmaContrasenya
			<input class="form-control" type=hidden name="confirmaContrasenya" value="xxxx" th:if="${editMode}">
		-->
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label" >Nombre</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" th:field="${usuarioForm.nombre}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error:..</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label">Apellidos</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" th:field="${usuarioForm.apellidos}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}">Error:..</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label">Email</label>
				<div class="col-lg-9">
					<input class="form-control" type="email" th:field="${usuarioForm.email}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error:..</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-lg-3 col-form-label form-control-label">Usuario</label>
				<div class="col-lg-9">
					<input class="form-control" type="text" th:field="${usuarioForm.username}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error:..</div>
				</div>
			</div>
			<div class="form-group row">
				<label th:text="Roles" class="col-lg-3 col-form-label form-control-label"></label>
				<div class="col-lg-9">
					<!-- para q un usuario no pueda cambiar su propio status se agrega la validacion.
						size es el num de elementos que se muestran y se cambia size por th:size -->
					<select th:field="${usuarioForm.roles}" class="form-control" th:size="@{signup}? 1 : 3" th:disabled="${disableFields} or 
							(${#authorization.expression('hasRole(''ROLE_USUARIO'')')} and ${editMode})">
						<option th:each="role :${roles}" th:value="${role.id}" th:text="${role.nombre}">
						</option>
					</select>
				</div>
			</div>
			<div class="form-group row" th:if="${editMode==null or editMode==false}">
				<label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
				<div class="col-lg-9">
					<input class="form-control" type="password" th:field="${usuarioForm.contrasenya}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('contrasenya')}" th:errors="*{contrasenya}">Error:..</div>
				</div>
			</div>
			<div class="form-group row" th:if="${editMode==null or editMode==false}">
				<label class="col-lg-3 col-form-label form-control-label">Confirmar Contraseña</label>
				<div class="col-lg-9">
					<input class="form-control" type="password" th:field="${usuarioForm.confirmaContrasenya}" th:disabled="${disableFields}">
					<div class="alert-danger" th:if="${#fields.hasErrors('confirmaContrasenya')}" th:errors="*{confirmaContrasenya}">Error:..</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-lg-12 text-center">
					<a class="btn btn-secondary" th:href="@{'/editUsuario/cancela'}">Cancela</a>
					<!-- button type="button" class="btn btn-secondary" data-toggle="modal" th:if="${editMode}" data-target="#changePasswordModal">Cambiar Contraseña</button> -->
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#changePasswordModal"
						th:if="${editMode} and (${#authorization.expression('hasRole(''ROLE_ADMIN'')')} 
								or (${#httpServletRequest.remoteUser==usuarioForm.username}))" >Cambiar Contraseña</button>
					<input type="submit" class="btn btn-primary" th:disabled="${disableFields}"
						value="Guardar cambios" th:value="${editMode}?'Guardar usuario':'Crear usuario'">
				</div>
			</div>
			<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Mens de Error</div>
			<div class="alert alert-success text-center d-none" id="formSuccess" th:if="${editMode}" >Mens exito</div>
		</form>
	</div>